* {
  margin: 0;
  padding: 0;
}

body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #ddd;
  font-size: 14px;
}


span.red {
  color: red;
}

header {
  background-image: url("IMG_5429.JPG");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
}

nav {
  text-align: center;
  background: #fff;
}

#logo {
  padding: 20px 0;
  text-align: center;
}

#logo img {
  max-width: 200px;
  border: 5px solid #fff;
  border-radius: 100%;
}

section {
  padding: 30px 20px;
}

.container {
  max-width: 800px;
  margin: -100px auto 0;
  background-color: #ddd;
}

